@model IEnumerable<CursovaHr.Models.VacViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Vacations</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    <form method="get">
        <div class="form-inline form-group">

            <label class="control-label">Vacation:</label>
            <input type="varchar(MAX)" name="name" class="form-control " />
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </form>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Salary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Vacname)
    </td>
    <td>

        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        @Html.ActionLink("Details", "Details", new { id = item.Id })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
